<div class="col-xl-3 col-md-4 theiaStickySidebar">
    <div class="mb-4">
        <div class="d-sm-flex flex-row flex-wrap text-center text-sm-left align-items-center">
            <img alt="profile image" src="{{user.profile.image.url}}" class="avatar-lg rounded-circle">
            <div class="ml-sm-3 ml-md-0 ml-lg-3 mt-2 mt-sm-0 mt-md-2 mt-lg-0">
                <h6 class="mb-0">{{ user.first_name }} {{ user.last_name }}</h6>
                <p class="text-muted mb-0">Member Since <br/>{{ user.date_joined|date:'M d, Y'}}</p>
            </div>
        </div>
    </div>
    <div class="widget settings-menu">
        <ul role="tablist" class="nav nav-tabs">
            <li class="nav-item current">
                <a href="{% url 'click:staff-dashboard' %}" class="nav-link">
                    <i class="fas fa-chart-line"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item current">
                <a href="{% url 'click:staff-bookings' %}" class="nav-link">
                    <i class="far fa-calendar-check"></i> <span>Booking List</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'click:staff-profile' %}" class="nav-link">
                    <i class="far fa-user"></i> <span>Profile</span>
                </a>
            </li>
        </ul>
    </div>
</div>