<section class="how-work">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading howitworks">
                    <h2>How It Works</h2>
                    {% comment %} <span>Aliquam lorem ante, dapibus in, viverra quis</span> {% endcomment %}
                </div>
                <div class="howworksec">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="howwork">
                                <div class="iconround">
                                    <div class="steps">01</div>
                                    <img src="{% static 'img/icon-1.png' %}" alt="">
                                </div>
                                <h3>Find the Service</h3>
                                {% comment %} <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat Phasellus viverra nulla ut
                                    metus varius laoreet.</p> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="howwork">
                                <div class="iconround">
                                    <div class="steps">02</div>
                                    <img src="{% static 'img/icon-2.png' %}" alt="">
                                </div>
                                <h3>Book the Service</h3>
                                {% comment %} <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat Phasellus viverra nulla ut
                                    metus varius laoreet.</p> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="howwork">
                                <div class="iconround">
                                    <div class="steps">03</div>
                                    <img src="{% static 'img/icon-3.png' %}" alt="">
                                </div>
                                <h3>Our Staff at your Doorstep</h3>
                                {% comment %} <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat Phasellus viverra nulla ut
                                    metus varius laoreet.</p> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>