{% extends "layouts/layout.html" %}

{% load extra_tags %}

{% block title %}User Dashboard{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <div class="row">
            {% include 'includes/user-dashboard-sidebar.html' %}
            <div class="col-xl-9 col-md-8">
                <div class="row align-items-center mb-4">
                    <div class="col">
                        <h4 class="widget-title mb-0">My Bookings</h4>
                    </div>
                    <div class="col-auto">
                        <div class="sort-by">
                            <select class="form-control-sm custom-select">
                                <option>All</option>
                                <option>Pending</option>
                                <option>Inprogress</option>
                                <option>Complete Request</option>
                                <option>Rejected</option>
                                <option>Cancelled</option>
                                <option>Completed</option>
                            </select>
                        </div>
                    </div>
                </div>

                {% for booking in bookings %}
                <div class="bookings">
                    <div class="booking-list">
                        <div class="booking-widget">
                            <a href="{% url 'click:service' id=booking.service.id %}" class="booking-img">
                                <img src="{{ booking.service.image.url }} " alt="{{ booking.service.title }}">
                            </a>
                            <div class="booking-det-info">
                                <h3>
                                    <a
                                        href="{% url 'click:service' id=booking.service.id %}">{{ booking.service.title }}</a>
                                </h3>
                                <ul class="booking-details">
                                    <li><span>Date</span> {{ booking.date }}</li>
                                    <li><span>Time</span> {{ booking.time }}</li>
                                    <li><span>Amount</span> ₹{{ booking.service.price }}</li>
                                    <li><span>Location</span> {{ booking.location }}</li>
                                    <li><span>Phone</span> {{ booking.phn }}</li>
                                    <li><span>Booking Date</span> {{ booking.booking_date }}</li>
                                    <li><span>Status</span><span class="badge badge-pill badge-prof bg-success"> {{ booking.status }}</span></li>
                                    <li><span>Payment Id</span>{{ booking.payment_id }}</li>
                                    {% if booking.staff|hasAttribute:"first_name"  %}
                                    <li><span>Staff</span> {{ booking.staff.first_name }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="booking-action">
                            {% comment %} <a href="user-chat.html" class="btn btn-sm bg-info-light"><i
                                    class="far fa-eye"></i>
                                Chat</a> {% endcomment %}

                            {% if booking.status == "Canceled" %}

                            <button type="button" data-reason="{{booking.reason}}" data-toggle="modal"
                                data-target="#myReason" class="btn btn-sm bg-default-light"><i
                                    class="fas fa-info-circle"></i> Reason</button>

                            {% elif booking.status == "Pending" or booking.status == "Staff assigned" %}

                            <button type="button" data-id="{{booking.id}}" class="btn btn-sm bg-danger-light"
                                data-toggle="modal" data-target="#myCancel"><i class="fas fa-times"></i> Cancel the
                                Service</button>

                            {% elif booking.status == "Completed" and not booking|hasAttribute:"comments" %}

                            <button type="button" data-bookingid="{{booking.id}}"
                                data-serviceid="{{booking.service.id}}" class="btn btn-sm bg-danger-light"
                                data-toggle="modal" data-target="#myRating"><i class="fas fa-eye"></i> Rate</button>

                            {% endif %}

                            {% comment %} <a href="javascript:;" class="btn btn-sm bg-success-light"><i
                                    class="fas fa-check"></i> Complete Request to user</a> {% endcomment %}

                        </div>
                    </div>
                </div>
                {% endfor %}

                {% comment %} <div class="pagination">
                    <ul>
                        <li class="active">
                            <a href="javascript:void(0);">1</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">2</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">3</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">4</a>
                        </li>
                        <li class="arrow">
                            <a href="javascript:void(0);"><i class="fas fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div> {% endcomment %}

            </div>
        </div>
    </div>
</div>

<!-- Reason Modal -->
<div class="modal fade" id="myReason" tabindex="-1" role="dialog" aria-labelledby="Reason" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myReasonTitle">Reason</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Cancel Modal -->
<div class="modal fade" id="myCancel" tabindex="-1" role="dialog" aria-labelledby="Cancel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myCancelLabel">Cancel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{% url 'click:cancel_booking' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="booking_id" class="booking_id">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Reason:</label>
                        <textarea class="form-control" id="message-text" name="reason"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Rate Modal -->
<div class="modal fade" id="myRating" tabindex="-1" role="dialog" aria-labelledby="Cancel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myCancelLabel">Rate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{% url 'click:booking_comment' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="booking_id" class="booking_id">
                    <input type="hidden" name="service_id" class="service_id">
                    <div class="form-group">
                        <label for="message-text2" class="col-form-label">Rate:</label>
                        <select class="form-control" name="rate" id="rate">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Comment:</label>
                        <textarea class="form-control" id="message-text2" name="comment"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $('#myReason').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var reason = button.data('reason')
        var modal = $(this)
        modal.find('.modal-body').html(reason)
    })


    $('#myCancel').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var id = button.data('id')
        var modal = $(this)
        modal.find('.modal-body .booking_id').val(id)
    })

    $('#myRating').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var bookingid = button.data('bookingid')
        var serviceid = button.data('serviceid')
        var modal = $(this)
        modal.find('.modal-body .booking_id').val(bookingid)
        modal.find('.modal-body .service_id').val(serviceid)
    })
</script>
{% endblock script %}