{% extends "layouts/layout.html" %}

{% load extra_tags %}

{% block title %}User Dashboard{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <div class="row">
            {% include 'includes/user-dashboard-sidebar.html' %}
            <div class="col-xl-9 col-md-8">
                <h4 class="widget-title">Reviews</h4>
                <div class="card review-card mb-0">
                    <div class="card-body">
                        {% for review in reviews %}
                        <div class="review-list">
                            <div class="review-img">
                                <img class="rounded img-fluid" src="{{review.service.image.url}} "
                                    alt="{{review.service.title}}">
                            </div>
                            <div class="review-info">
                                <h5><a
                                        href="{% url 'click:service' id=review.service.id %}">{{review.service.title}}</a>
                                </h5>
                                <div class="review-date">{{review.created_at|date:'M d, Y'}}</div>
                                <p class="mb-2">{{review.comment}}</p>
                            </div>
                            <div class="review-count">
                                <div class="rating">
                                    {% for i in review.rating|times %}
                                    <i class="fas fa-star filled"></i>
                                    {% endfor %}
                                    {% comment %} <i class="fas fa-star"></i> {% endcomment %}
                                    {% comment %} <span class="d-inline-block average-rating">({{review.rating}})</span> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}