{% extends "layouts/layout.html" %}

{% load extra_tags %}

{% block title %}Book Service{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-header text-center">
                    <h2>Book Service</h2>
                </div>
                <form action="/book_service_insert/{{service.id}}" method="POST">{% csrf_token %}
                    <h4 class="mb-4">Basic Details</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Service <span class="text-danger"></span></label>
                                <input class="form-control" type="text" value="{{service.title}}"
                                    autocomplete="off" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Service Amount</label>
                                <input class="form-control" type="text" value="₹ {{service.price}}" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Location <span class="text-danger">*</span></label>
                                <input class="form-control " type="text" name="location" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Phone <span class="text-danger">*</span></label>
                                <input class="form-control " name="phone" type="text" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Date <span class="text-danger">*</span></label>
                                <input class="form-control datepicker" type="text" name="date"
                                    autocomplete="off" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Time slot <span class="text-danger">*</span></label>
                                <input class="form-control timepicker" type="text" name="time"
                                    autocomplete="off" required>
                            </div>
                        </div>

                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Continue To Payment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>
    $(function () {
        $(".datepicker").datetimepicker({
            timepicker: false,
            format: 'Y-m-d',
            minDate: +2,
        });

        $(".timepicker").datetimepicker({
            datepicker: false,
            format: 'H:i',
            allowTimes: [
                '09:00', '10:00', '11:00',
                '12:00', '13:00', '14:00',
                '15:00', '16:00', '17:00',
                '18:00', '19:00',
            ],
        });
    });
</script>
{% endblock script %}