{% extends "layouts/layout.html" %}

{% load extra_tags %}

{% block title %}Service{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-header text-center">
                    <h2>Book Service</h2>
                </div>
                <form action="/book-service/{{service.id}}" method="POST" >{% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Service  <span class="text-danger"></span></label>
                                <input class="form-control" type="text" placeholder="{{service.title}}"
                                    autocomplete="off" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Service amount</label>
                                <input class="form-control" type="text"  value="₹ {{service.price}}" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Location <span class="text-danger">*</span></label>
                                <input class="form-control " type="text" name="location">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Phone <span class="text-danger">*</span></label>
                                <input class="form-control "  name="phone" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Date <span class="text-danger">*</span></label>
                                <input class="form-control datepicker " type="text" name="date">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Time slot <span class="text-danger">*</span></label>
                                <input class="form-control timepicker" type="text" name="time">
                        
                                {% comment %} <select class="form-control">
                                    <option>10:00 AM</option>
                                    <option>11:00 AM</option>
                                    <option>12:00 PM</option>
                                    <option>01:00 PM</option>
                                    <option>02:00 PM</option>
                                    <option>03:00 PM</option>
                                    <option>04:00 PM</option>
                                    <option>05:00 PM</option>
                                    <option>06:00 PM</option>
                                    <option>07:00 PM</option>
                                </select> {% endcomment %}
                            </div>
                        </div>
                       
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Book Booking</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>
    $(function () {
        $(".datepicker").datetimepicker({
            timepicker: false,
            format: 'Y-m-d',
            minDate: +2,
        });

        $(".timepicker").datetimepicker({
            datepicker: false,
            format: 'H:i',
            allowTimes: [
                '09:00', '10:00', '11:00',
                '12:00', '13:00', '14:00',
                '15:00', '16:00', '17:00',
                '18:00', '19:00',
            ],
        });
    });
</script>
{% endblock script %}