{% extends "layouts/layout.html" %}

{% block title %}One Click{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero-section">
    <div class="layer">
        <div class="home-banner"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section-search">
                        <h3>Welcome to <span>OneClick</span></h3>
                        <p>We provide you with the best services</p>
                        {% comment %} <div class="search-box">
                            <form action="https://OneClick-html.dreamguystech.com/">
                                <div class="search-input line">
                                    <i class="fas fa-tv bficon"></i>
                                    <div class="form-group mb-0">
                                        <input type="text" class="form-control" placeholder="What are you looking for?">
                                    </div>
                                </div>
                                <div class="search-input">
                                    <i class="fas fa-location-arrow bficon"></i>
                                    <div class="form-group mb-0">
                                        <input type="text" class="form-control" placeholder="Your Location">
                                        <a class="current-loc-icon current_location" href="javascript:void(0);"><i
                                                class="fas fa-crosshairs"></i></a>
                                    </div>
                                </div>
                                <div class="search-btn">
                                    <button class="btn search_service" type="submit">Search</button>
                                </div>
                            </form>
                        </div> {% endcomment %}
                        {% comment %} <div class="search-cat">
                            <i class="fas fa-circle"></i>
                            <span>Popular Searches</span>
                            <a href="{% url 'click:services' %}">Electrical Works</a>
                            <a href="{% url 'click:services' %}">Cleaning</a>
                            <a href="{% url 'click:services' %}">AC Repair</a>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Hero Section -->

<!-- Category Section -->
<section class="category-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading">
                            <h2>Featured Categories</h2>
                            <span>What do you need to find?</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="viewall">
                            <h4><a href="{% url 'click:categories' %}">View All <i class="fas fa-angle-right"></i></a>
                            </h4>
                            <span>Featured Categories</span>
                        </div>
                    </div>
                </div>
                <div class="catsec">
                    <div class="row">
                        {% for category in categories %}
                        <div class="col-lg-4 col-md-6">
                            <a href="{% url 'click:services' id=category.id %}">
                                <div class="cate-widget">
                                    <img src="{{ category.image.url }}" alt=" {{ category.title }}">
                                    <div class="cate-title">
                                        <h3><span><i class="fas fa-circle"></i> {{ category.title }}</span></h3>
                                    </div>
                                    <div class="cate-count">
                                        <i class="fas fa-clone"></i> {{ category.service_count }}
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Category Section -->

<!-- How It Works -->
{% include 'includes/works.html' %}
<!-- /How It Works -->

<!-- Popular Servides -->
<section class="popular-services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading">
                            <h2>Most Popular Services</h2>
                            <span>Explore the greates our services. You won’t be disappointed</span>
                        </div>
                    </div>
                    {% comment %} <div class="col-md-6">
                        <div class="viewall">
                            <h4><a href="categories.html">View All <i class="fas fa-angle-right"></i></a></h4>
                            <span>Most Popular</span>
                        </div>
                    </div> {% endcomment %}
                </div>
                <div class="service-carousel">
                    <div class="service-slider owl-carousel owl-theme">
                        {% for service in services %}
                        <div class="service-widget">
                            <div class="service-img">
                                <a href="{% url 'click:service' id=service.id %}">
                                    <img class="img-fluid serv-img" alt="Service Image"
                                        src="{{service.image.url}}">
                                </a>
                                <div class="item-info">
                                    <div class="service-user">
                                        <span class="service-price">₹{{service.price}}</span>
                                    </div>
                                    <div class="cate-list">
                                        <a class="bg-yellow" href="{% url 'click:service' id=service.id %}">{{service.category.title}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="service-content">
                                <h3 class="title">
                                    <a href="{% url 'click:service' id=service.id %}">{{service.title}}</a>
                                </h3>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(4.3)</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Popular Servides -->

{% endblock %}