<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>{% block title %}One Click{% endblock %}</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/dot-luv/jquery-ui.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'plugins/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}">

	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="{% static 'plugins/owlcarousel/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/owlcarousel/owl.theme.default.min.css' %}">

	<link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.css' %}">

	<!-- CSS -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
	<!-- Default theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	{% block style %}{% endblock %}
</head>

<body>

	<!-- Loader -->
	<div class="page-loading">
		<div class="preloader-inner">
			<div class="preloader-square-swapping">
				<div class="cssload-square-part cssload-square-green"></div>
				<div class="cssload-square-part cssload-square-pink"></div>
				<div class="cssload-square-blend"></div>
			</div>
		</div>
	</div>
	<!-- /Loader -->

	<div class="main-wrapper">

		{% include 'includes/header.html' %}

		{% block content %}{% endblock %}

		{% include 'includes/footer.html' %}

	</div>

	<!-- jQuery -->
	<script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>

	<!-- jQuery UI -->
	{% comment %} <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
		integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
	{% endcomment %}

	<!-- Bootstrap Core JS -->
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>

	<!-- Sticky Sidebar JS -->
	<script src="{% static 'plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
	<script src="{% static 'plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

	<!-- Datepicker Core JS -->
	<script src="{% static 'js/moment.min.js' %}"></script>
	{% comment %} <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script> {% endcomment %}
	<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>

	<!-- Owl JS -->
	<script src="{% static 'plugins/owlcarousel/owl.carousel.min.js' %}"></script>

	<!-- Alertify JS -->
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

	<!-- Custom JS -->
	<script src="{% static 'js/script.js' %}"></script>
	{% include 'includes/messages.html' %}
	{% block script %}{% endblock %}
</body>

</html>